/* css/atoms/label.css */
.atom-label {
    font-family: var(--font-family-title), sans-serif;
    font-size: var(--text-caption-c1-size);
    color: var(--color-neutral-text-primary);
    display: block;
    margin-bottom: 0.3rem;
}