.organism-game-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-secondary-background-page);
}

.game-frame__screen {
    width: 100%;
    max-width: 1200px;       /* Reducimos el ancho máximo para que el juego no se vea tan enorme */
    aspect-ratio: 16 / 9;    /* Volvemos a la proporción clásica y equilibrada */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;

    /* Fondo de Batman */
    background-image: url('../../assets/images/batmanBackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.8);
}
/* titulo con la fuente DkcForever */
.game-frame__title {
    font-family: var(--font-family-batman), sans-serif;
    color: var(--color-neutral-text-primary);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: var(--spacing-2xs);

    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

/* El área central donde luego va la grilla ocupa el espacio sobrante */
.game-frame__board-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer interno del juego */
.game-frame__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}