.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary-background-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.loader-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid var(--color-secondary-surface-elevated);
    border-top: 6px solid var(--color-primary-focus-ring);
    border-radius: 50%;
    animation: girar-y-pulsar 1.5s ease-in-out infinite;
}

.loader-text {
    margin-top: 20px;
    color: var(--color-neutral-text-primary);
    font-family: var(--font-family-title), serif;
    font-size: var(--text-b1-size);
    font-weight: bold;
}

@keyframes girar-y-pulsar {
    0% {
        transform: rotate(0deg) scale(1);
        border-top-color: var(--color-primary-focus-ring);
    }

    50% {
        transform: rotate(180deg) scale(1.15);
        border-top-color: var(--color-accent-default);
    }

    100% {
        transform: rotate(360deg) scale(1);
        border-top-color: var(--color-primary-focus-ring);
    }
}