.molecule-form-field {
    display: flex;
    flex-direction: column;
    /* Espacio pequeño entre la etiqueta Label y el Input */
    gap: var(--spacing-2xs); /* 4px */
    width: 100%;
}
.molecule-checkbox-field{
    display: flex;
    align-items: center;
    gap: var(--spacing-2xs);
}